body {
  background: url(Gray.jpg);
  background-size: 350%;
}

h1, #comment1 {
	color: #FF66CC;
	font-weight: bold;
	margin-top: 40px;
}

h2 {
	color: gray;
}

h4 {
	color: gray;
	font-size: 10pt;
}


#inside1, #inside2, #inside3 {
	color: white;
}


#comment1 {
	color: #FF99CC;
	font-weight: bold;
	margin-bottom: 40px;	
}

#navbar-default {
	width: 600px;
}

.img-rounded {
	width: 100px;
	margin-top: 10pt;
}

h1 {
	color: #9933FF;
}

h3 {
	color: gray;
	font-weight: bold;
}

#wrapper {
  width: 1260px;
  margin: 20px auto;
 }

#summary {
	color: #9933FF;
}


.img-circle {
	 padding: 1px;
	 border:1px solid gray;
}



.img-circle {
	width: 150px;
	margin-top: 30px;
}
#aboutme {
	margin-top: 30px;
}

.name {
	font-size: 14pt;
	font-weight: bold;
}

