body {
  background: url(Gray.jpg);
  background-size: 350%;
}

h1, #comment1 {
	color: #FF66CC;
	font-weight: bold;
	margin-top: 40px;
}

h2 {
	color: gray;
}

h4 {
	color: gray;
	font-size: 10pt;
}



#inside1, #inside2, #inside3 {
	color: white;
}


#comment1 {
	color: #FF99CC;
	font-weight: bold;
	margin-bottom: 40px;	
}








#wrapper {
  width: 1260px;
  margin: 20px auto;
 }

#summary {
	color: #9933FF;
}


.img-circle {
	 padding: 1px;
	 border:1px solid #9933FF;
}


}
#location {
	color: white;
}

#banner2 {
	width: 1200px;
}

.img-circle {
	width: 150px;
	margin-top: 30px;
}
#aboutme {
	margin-top: 30px;
}
#Klogo {
	width: 25px;
}
#name {
	font-size: 14pt;
	font-weight: bold;
}

}
#ending {
	margin-top: 30px;
	position: absolute;
	left: 600px;
}
.dropdown {
	color: white;
}


#Klogo2 {
	height: 25px;
}