body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(Kellogglogo2.jpg);
  background-size: 350%;
}

#wrapper {
  width: 1260px;
  margin: 20px auto;
 }
/* Making the H1 red */
h3 {
	color: white;
	font-size: 16pt;
	font-weight: bold;
	margin-top: 40px;
}
h4 {
	color: white;
	font-size: 12pt;
		}
#summary {
	color: white;
}


.img-circle {
	 padding: 1px;
	 border:1px solid white;
}

h5 {
	font-style: italic;
	font-size: medium;
	color: white;
	margin-top: 30px;
}
h1, h2 {
	color: white;
	font-weight: bold;
}
#location {
	color: white;
}

#banner2 {
	width: 1200px;
}

.img-circle {
	width: 150px;
	margin-top: 30px;
}
#aboutme {
	margin-top: 30px;
}
#Klogo {
	width: 25px;
}
#name {
	font-size: 14pt;
	font-weight: bold;
}
h6 {
	color: white;
}
#ending {
	margin-top: 30px;
	position: absolute;
	left: 600px;
}
.dropdown {
	color: white;
}
.navbar {
	margin-top: 30px;
	color: purple;
}

#Klogo2 {
	height: 25px;
}